nav ul li {
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    display: inline-block;
    margin: auto;
    padding: 20px 34px;
}

body {
    background-image: url(/IMAGES/chantel-k-jJRnYGTig-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container p-4 {
    color: bisque;
}